extends layout
block content
  .hero
    .hero-inner
      .hero-copy
        h1 Coding from Afar
        p
          | Welcome to my code-related personal website. I'm Cristián, and along with my wife we decided to leave our country in search of new adventures.
        p
          | Currently, we live in Mexico City, and a mix of factors including low salaries and painfully long commuting distances led me to the decision of switching careers and becoming a full-time software engineer.
  section.main
    .scroll-on-page
      aside#scroll-on-page-top
        h2 Latest entries
        each article, index in articles
          a.scroll-on-page-link(href='#scroll-link-'+index)= article.title
        div.nav
          if prevPage
            a(href=prevPage.url) « Newer
          if nextPage
            a(href=nextPage.url) Older »
      each article, index in articles
        article
          header
            h1(id='scroll-link-'+ index)
              a(href=article.url)= article.title
            p.date
              span= 'Published on '
                em= moment.utc(article.date).format('MMMM DD, YYYY')
          section
            if article.intro.length > 0
              | !{ typogr(article.intro).typogrify() }
            if article.hasMore
              p.more
                a(href=article.url) Continue Reading »