doctype html
block vars
   - var bodyclass = null;
html.no-js(lang='en')
   head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      title
        block title
          = locals.name
      meta(name='description', content='')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='apple-touch-icon', href='apple-touch-icon.png')
      link(rel='stylesheet', href='/css/app.css')
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      script(src='/js/vendor/modernizr-2.8.3.min.js')
   body(class=bodyclass)
      //if lt IE 8
        p.browserupgrade
          | You are using an
          strong outdated
          |  browser. Please
          a(href='http://browsehappy.com/') upgrade your browser
          |  to improve your experience.
      header.centered-navigation(role='banner')
         .centered-navigation-wrapper
            a.mobile-logo(href='/')
               .m-logo
                  span.myname CB
            a#js-centered-navigation-mobile-menu.centered-navigation-mobile-menu(href='javascript:void(0)') MENU
            nav(role='navigation')
               ul#js-centered-navigation-menu.centered-navigation-menu.show
                  li.nav-link
                        a(href='http://registry.jsonresume.org/crisberrios') Resume
                  li.nav-link.logo
                     a.logo(href='/')
                        .nav-logo
                           span.myname CB
                  li.nav-link
                     a(href='/portfolio.html') Portfolio
                  li.nav-link
                     a(href='#contact') Contact
      main
         section#content
            .content-wrap
               block content

            block prepend footer
      footer.footer(role='contentinfo')
         .footer-logo
            img(src='/img/profile.jpg', alt='Cristián Berríos')
         .footer-links
            ul
               li
                  h3 Content
               li
                  a(href='/archive.html') Archives
               li
                  a(href='javascript:void(0)') Portfolio
               li
                  a(href='http://registry.jsonresume.org/crisberrios') Resume
            ul
               li
                  h3 Follow Me
               li
                  a(href='https://github.com/crisberrios') Git
               li
                  a(href='http://codepen.io/crisberrios/') Codepen
               li
                  a(href='http://mx.linkedin.com/in/cberrios') LinkedIn
            ul
               li
                  h3#contact Contact
               li
                  a(href='mailto:cristian.berrios@outlook.cl') cristian.berrios (at) outlook.cl
               li
                  a.toggle-form(href='#') Send me a message »
               li
                  form.footer-form(method="POST",action="//formspree.io/cristian.berrios@outlook.cl")
                     input.email-footer(type="email", placeholder="e-mail", required)
                     input.text-footer(type="text",size="140", name="message",placeholder="message", required)
                     input(type="text",name="_gotcha",style="display:none")
                     input.submit-footer(type="submit")

         hr
         p Feel free to copy anything from this site which doesn't belong to someone else.
         p= 'Built with '
            a(href='http://wintersmith.io')= 'Wintersmith, '
            a(href='http://bourbon.io')= 'Bourbon, '
            a(href='http://neat.bourbon.io')= 'Neat, '
            a(href='http://bitters.bourbon.io')= 'Bitters '
            | and
            a(href='http://refills.bourbon.io')= ' Refills.'

      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
      script(src='/js/plugins.js')
      script(src='/js/main.js')

